/* In the larger.css file, encase all the CSS rules in a media query using a min-width conditional breakpoint of your choosing. */


   @media only screen and (min-width: 32rem) {
	/* Remove the color green and made span transparent */
	span {
	  background-color: transparent;
	}
  }
  @media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
} 

 /* Hamburger menu */
        #hamnav {
        width: 100%;
        background: #4da9db;
      }
      
      
      #hamitems {
         display: flex;
         }
      
      #hamitems a {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;
        color: white;
        text-decoration: none;
        text-align: center;
      }
      #hamitems a:hover { background: #3060c0; }
      
     
      #hamnav label, #hamburger { display: none; }
    
  
    @media screen and (max-width: 768px){
    
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #9edfd7;
      }
     
     
      #hamnav label { 
        display: inline-block; 
        color: white;
        background: #368a60;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
     
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    }  

	 /* Footer with social media */
    
      footer{
        width:100%;
        height: auto;
    }
    .fa {
        padding: 15px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
       
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }  

	  main img {
		float: right;
		margin: 0 0 1rem 1rem;
		border: 1px solid #333;
		box-shadow: 0 0 15px #777;
	}
	
	#mode {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 3rem;
		cursor: pointer;
	}
	 /* Dark mode */
	 .dark-mode {
		background-color: black;
		color: white;
	  }
	
	  
	.dark {
		position: absolute;
		font-size: 3rem;
		cursor: pointer;
	}
	
	.dark {
		position: absolute;
		top: 5px;
		right: 5px;
	}  
	