* {
    box-sizing: border-box;
  }
  body {
      display: grid;
      height: 100vh;
      grid-template: auto 1fr auto / 300px 1fr auto;
    }
  
  header {
    background: lightpink;
    padding: 1rem;
    grid-column: 1 / 4;
  }
  
  .main-nav {
      grid-column: 1 / 3;
      background-color: #bed;
      padding: 1rem;
  }
  
  .left-sidebar {
  
      background: lightblue;
      grid-column: 1 / 2;
    }
    
  main {
    background: coral;
    grid-column: 2/3;
  }
  /* aside {
      background: yellow;
      grid-column: 2 / 3;
      padding: 1rem;
    } */
  
  .right-sidebar {
      background: yellow;
      grid-column: 3 / 4;
    }
    
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar{
      padding: 1rem;
  }