* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Sansita", sans-serif;
	background: #35786f74;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Background image for header */
#header-background{
  /* width:100%; */
  height: auto;
  background:url(https://th.bing.com/th/id/OIP._JANLXqpT4e6RSvNsH6TYgHaE8?pid=ImgDet&rs=1)
}

header,
main {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}


nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}
a {
    text-decoration: none;
}



 /* Hamburger menu */

  #hamnav {
    width: 100%;
    background: #4da9db;
  }
  
  
  #hamitems {
     display: flex;
     }
  
  
  
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #3060c0; }
  
 
  #hamnav label, #hamburger { display: none; }


@media screen and (max-width: 768px){

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #9edfd7;
  }
 
 
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #368a60;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

 
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

/* section css */
.cards {
  padding: 1rem;
  background: linear-gradient(to bottom left, #f6eff0 40%, #dcdad8 100%);
  }
  
  .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  /* Footer with social media */

footer{
  width:100%;
  height: auto;
}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}